/**
 * ======================================== 
 * About
 * ========================================
 */
  
  .container{
    padding: 80px;
    width: 80%;
    margin: auto;
  }

  
  .hero__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    
  }

  .hero__container-list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 50%;
  }

  .container__imagenabout{
    width: 50%;
  }
  
  .hero__list-item {
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    padding: 35px;
  }
  
  .hero__list-item p {
    color: var(--grey);
  }
  
  .hero__list-item h3 {
    color: var(--black);
    display: inline;
    margin-left: 20px;
  }


  
@media (max-width: 767px) {
  .hero__container{
    flex-direction: column;
    align-items: center;

  }
  
  .hero__container-list {
    width: 100%;
    flex-wrap: nowrap;
  }

  .container__imagenabout{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }

  .container__imagenabout img{
    max-width: 90%;
  }
}