/**
 * ======================================== 
 * Footer
 * ========================================
 */

footer {
  width: 100%;
  background-color: #232233;
}

.footer-container {
  width: 80%;
  margin: auto;
  
}

.footer__container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 50px;
  border-bottom: 2px solid white;
  padding-top: 200px;
}

.footer__h2 {
  text-transform: uppercase;
  color: var(--white);
}

.footer__p {
  margin-bottom: 20px;
  color: var(--white);
}


.footer__icons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer__icons i{
  color: white;
}




.footer__container-item {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 25%;
}

.footer__search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__search-input {
  border: 1px solid #5956e9;
  border-radius: 6px 6px;
  outline: none;
  padding: 0 62px 0px 9px;
  height: 50px;
}

.footer__search-label {
  font-size: 15px;
  font-weight: 400;
  padding: 11px 13px;
  color: white;
  background-color: #5956e9;
  border-radius: 6px 6px;
  top: 3px;
  bottom: 3px;
  margin: auto;
  display: block;
  position: absolute;
  right: 15px;
}



.footer__copyright-p {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  text-align: center;
  padding: 20px;
}

.footer__icon-copyright{
  padding: 0 30px;
}

.footer__a {
  text-decoration: none;
  color: var(--white);
}

.footer__a:hover {
  text-decoration: underline;
}



.footer__infocontact {
  box-shadow: 0px 10px 50px -5px rgb(106 99 99);
  background: rgb(255, 255, 255);
  display: flex;
  max-width: fit-content;
  color: #000;
  padding: 15px 0;
  border-radius: 15px;
  position: absolute;
  left: 0;
  right:0;
  margin: auto;
  top: 4450px;
}

.footer__infocontact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.footer__infocontact-item div {
  background-color: #5956E9;
  border-radius: 50px;
}

.footer__infocontact-item div img {
  display: block;
  padding: 15px;
}

.footer__infocontact-item p {
  margin-left: 10px;
}

.footer__infocontact-item:last-child {
  border-left: 2px solid #6C6C72;
}


@media (max-width: 767px) {

  .footer__container{
    flex-direction: column;
    
  }

  .footer__container-item{

    width: 100%;
    margin-bottom: 30px;
  }

  .footer__search-label{
    position: relative;
   
  }


  .footer__infocontact{
    top: 7950px;
    flex-direction: column;
  }

  .footer__infocontact-item{
    flex-direction: column;
  }
  
  .footer__infocontact-item:last-child {
    border: none;
  }

  .footer__separator{
    width: 30%;
    border-block: 0.5px solid;
    align-self: center;
  }
  

  .footer__icon-copyright{
    padding: 0;
  }

  .footer__copyright-p {
    font-size: 12px;
    font-weight: 300;
  }

  .footer__search-label{
    right: 60px;
    top: -2px;
  }

  .footer__search-input {
 
    height: 60px;
    width: 100%;
  }
}