/**
 * ======================================== 
 * Header
 * ========================================
 */

header {
  margin-top: 30px;
  font-family: var(--base-font);
  color: #fff;
}

.container-hero {
  width: 80%;
  margin: auto;
}

.header__container-contact {
  display: flex;
  justify-content: space-between;
}

.header__redes a{
  margin-left: 20px;
}

.header__info p {
  display: inline;
}

.header__menu {
  margin-top: 10px;
  min-width: 343px;
  max-height: 60px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  align-items: center;
}

.header__menu ul {
  list-style: none;
  margin-left: 25px;
}

.header__menu li {
  display: inline-block;
}

.header__link {
  text-decoration: none;
  color: #232233;
  padding: 20px;
}

.header__link:hover{
  text-decoration: underline;
  color: blue;
}

.header__button:hover{
  background-color: rgb(175, 59, 156);


}

.header__centerlogo {
  min-width: 100px;
  min-height: 60px; 
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header__logo-img img{
  min-width: 79px;
  min-height: 12px;
}


.header__button {
  padding: 8px;
  background-color: var(--royal-blue);
  color: var(--white);
  margin-right: 2px;
}

.header__iconhamburger{
  padding: 20px;
  display: none;
}

.header__btndownload{
  display: none;
  padding: 20px;
  min-width: 76px;
  min-height: 34px;
}

.header__btndownload a{
  font-size: 10px;
}


@media (max-width: 767px) {

  .header__container-contact{
    display: none;
  }

  .header__menu{
    flex-wrap: nowrap;
  }

  .header__first-ul{
    display:none;
  }

  .header__link{
    display: none;
  }

  .header__iconhamburger{
    display:block;
    width: 30%;
  }

  .header__btndownload{
    display: block;
  }

  .header__iconhamburger i{
    color:black;
  }

  .header__logo-img{
    overflow: hidden;
  }

  .header__second-ul{
    display:none;
  }

  .header__centerlogo{
    width: 40;
  }
  
}