/**
 * ======================================== 
 * Header
 * ========================================
 */

header {
  margin-top: 30px;
  font-family: var(--base-font);
  color: #fff;
}

.container-hero {
  width: 80%;
  margin: auto;
}

.header-contacto {
  display: flex;
  justify-content: space-between;
}

.header__info p {
  display: inline;
}

.header__menu {
  margin-top: 10px;
  height: 60px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  align-items: center;
}

.header__menu ul {
  list-style: none;
  margin-left: 25px;
}

.header__menu li {
  display: inline-block;
}

.header__link {
  text-decoration: none;
  color: #232233;
  padding: 20px;
}

.header__centerlogo {
  width: 200px;
  height: 90px;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.header__logo {
  position: relative;
  top: 30%;
}

.header__button {
  padding: 8px;
  background-color: var(--royal-blue);
  color: var(--white);
  margin-right: 2px;
}
