/**
 * ======================================== 
 * Hero section
 * ========================================
 */


.container__hero {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 80px;
  width: 100%;
}

.hero__card {
  background-color: #ffffff;
  max-width: 570px;
  max-height: 430px;
  margin-top: 137px;
  position: relative;
  left: 150px;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

.border__hero {
  position: absolute;
  width: 570px;
  height: 520px;
  top: 300px;
  right: 580px;
  border: 18px solid #7572ff;
  box-sizing: border-box;
}

.hero__img img {
  width: 500px;
  height: 725px;
  left: 120px;
  bottom: 100px;
}

h1 {
  font-size: 48.83px;
  line-height: 63px;
  text-transform: uppercase;
  color: var(--royal-blue);
  margin-top: 50px;
  margin-bottom: 20px;
}

.hero__p {
  margin-bottom: 20px;
}

h3 {
  text-transform: uppercase;
  color: #232233;
}



/* Mobile */


@media (max-width: 767px) {
  .container__hero{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    
  }

  .hero__card{
    width: 80%;
    left: 0;
    overflow: hidden;
    margin-bottom: 50px;
  }

  .hero__card h1{
    font-size: 20px;
    margin: 4px 0;
  }

  .hero__card p{
    font-size: 16px;
  }

  .hero__h3{
    font-size: 18px;
  }

  .border__hero{
    top: 238px;
    right: 2px;
    position: absolute;
    width: 319px;
    height: 420px;
  }

  .hero__container-buttons{
    display: flex;
    justify-content: flex-start;
  }

  .hero__container-buttons img{
    width: 40%;
  }

  .hero__img{
    margin-top: 20px;
    align-items: center;
    width: 70%;
  }

  
.hero__img img {
  max-width: fit-content;
  max-height: 525px;
}
}