/**
 * ======================================== 
 * Our-Reative-Team section
 * ========================================
 */
  
  .container__card {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 100px;
  }



  .ourteam__card {
    margin-left: 10px;
    width: 100%;
    height: 580px;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .card-people__img {
    margin-top: 30px;
    width: 50%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%233834ECFF' stroke-width='6' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
     
  }
  
  .ourteam__card h3 {
    margin-top: 60px;
    color: #232233;
  }
  
  .ourteam__card h4 {
    color: #6c6c72;
    margin-bottom: 40px;
  }
  
  .ourteam__card p {
    text-align: center;
    color: var(--grey);
    padding: 20px;
  }
  
  .card-socialmedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 40px;
    width: 100%;
  }

  .card-socialmedia i{
      color: black;
  }

  .card__img{
    width: 25%;
  }
  
  

  /* Mobile */


  @media (max-width: 767px) {

    .container__card{
      flex-direction: column;
      justify-content: center;
      
    }

    .ourteam__card{
      margin-bottom: 50px;
      height: 100%;
    }
  }
  
 






  