/**
 * ======================================== 
 * Our-Reative-Team section
 * ========================================
 */
  
  .container__card {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 100px;
  }

  .card-people {
    margin-left: 10px;
    width: 100%;
    height: 580px;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .card-people__img {
    margin-top: 40px;
    width: 198px;
    height: 198px;
  }
  
  .card-people h3 {
    margin-top: 60px;
    color: #232233;
  }
  
  .card-people h4 {
    color: #6c6c72;
    margin-bottom: 40px;
  }
  
  .card-people p {
    text-align: center;
    color: var(--grey);
  }
  
  .card-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
  }
  
  .card-socialmedia__img {
    margin: 20px;
  }
  
  .card__separator{
    font-weight: 700;

  }
  
  .container__cardinfo{
    padding: 60px;
    width: 688px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0px 10px 50px -5px rgb(106 99 99);
    background: rgb(255, 255, 255);
    position: absolute;
    top: 4650px;
    left: 350px;
    display: flex;
    justify-content: space-between;
  }
  
  .card__moreinfo div {
    background-color: #5956E9;
    width: max-content;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    display: inline;
  }
  
  
  .card__moreinfo p {
    display: inline;
    padding-left: 10px;
  }