*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondo11.png);
    color: #fff;
}

header h1{
    text-align: center;
    width: 100%;
    padding-bottom: 60px;
}

main{
    text-align: center;
}

label, input, select{
    padding: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}


.container__ejercicios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
    width: 70%;
    margin: auto;
}
.container__resultado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
    color: #fff;
}

#enviar{
    margin: 30px;
    padding: 5px;
    width: 40%;
    align-self: center;
}

#label__addition{
    display: none;
}